.form-actions {
  display: flex;
  flex-direction: row-reverse;

  margin-top: $gutter / 2;
}

.btn {
  padding: ($gutter / 4 - 0.2rem) $gutter / 2 ($gutter / 4);
  border: 0;

  background: $brand-orange;

  font-size: 1.4rem;
  line-height: 1em;
  font-family: $brand-display;

  color: $brand-white;
  text-shadow: $brand-text-shadow;
}
