.form-actions {
  display: flex;
  flex-direction: row-reverse;

  margin-top: $gutter / 2;

  &--between {
    flex-direction: row;
    justify-content: space-between;
  }
}

.btn {
  padding: ($gutter / 4 - 0.2rem) $gutter / 2 ($gutter / 4);
  border: 0;

  background: $brand-orange;

  color: $brand-white;

  font-family: $brand-display;
  font-size: 1.4rem;
  line-height: 1em;

  text-decoration: none;

  text-shadow: $brand-text-shadow;

  &--small {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}
