.card-list {
  margin-right: -$gutter;
  margin-left: -$gutter;

  * + & {
    margin-top: $gutter;
  }

  &__header {
    margin: 0;
    padding: $gutter / 2 $gutter;

    background: $brand-black;
    color: $brand-white;
  }

  &__content {
    margin: 0;
    background: $brand-white;
  }

  &__item {
    padding: $gutter / 2 $gutter;

    * + &--separated {
      border-top: $basic-border;
    }
  }
}
