.lesson-section {
  overflow: auto;

  &--video-screen {
    padding: $gutter;
    background: $brand-black;
  }

  &--free-lesson {
    margin-top: -$gutter;
  }

  &--info {
    margin-bottom: $gutter;
  }
}

.video-info {
  &__title {
    color: $brand-orange;
  }

  &__description {
    color: $brand-white;
  }
}

.lesson-video {
  position: relative;

  &__transport {
    display: flex;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    justify-content: space-between;

    margin: -$gutter;
  }

  &__transport-button {
    display: flex;

    position: absolute;
    top: 0;
    bottom: 0;

    align-items: center;
    padding: 0 $gutter;

    color: $brand-white;
    text-decoration: none;
    cursor: pointer;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }

    &:hover {
      background: rgba($brand-white, 0.2);
    }
  }
}
