.tab-selector {
  display: flex;
  border-bottom: $basic-border;

  &__container {
    display: flex;
    align-items: center;

    margin-top: 0;
    margin-bottom: 0;
  }

  &__heading {
    margin-right: $gutter;

    font-size: 1.4rem;
  }

  &__choice {
    cursor: pointer;
    padding: $gutter / 2;
    border: $basic-border;
    border-bottom: 0;

    &.active {
      background: $brand-orange;
      color: $brand-white;
    }

    + * {
      margin-left: $gutter / 2;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
