@import "yoga";
@import "bower_components/font-awesome/scss/font-awesome";

$brand-orange: #e1563f;
$brand-blue: #15647a;
$brand-red: #f8393c;
$brand-success: #0c9458;
$brand-warning: #eebf40;
$brand-gray: #3c3635;
$brand-white: #efefef;
$brand-code-white: #fff;
$brand-black: #444;
$brand-bg: #f3e5de;

$brand-text-shadow: 0 1px 2px hsl(8,41%,30%), 0 1px 0 hsl(8,41%,30%);
$brand-card-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
$basic-border: 1px solid lighten($brand-gray, 20%);

$brand-display: Play, sans-serif;

// Uncomment this for working with yoga prototyping
// http://rtablada.github.io/yoga-sass/#mixin-yoga-prototype
@include yoga-prototype();

@import "base";
@import "grid";

@import "header";
@import "hero";
@import "card";
@import "card-list";
@import "buttons";
@import "form-field";
@import "footer";
@import "alerts";
@import "pic";
@import "video";
@import "tabs";
@import "modal";

@import "mobile/base";

@import "home";
@import "lesson";
@import "pages/admin";
@import "pages/course";

@import "components/font-awesome";
