<ul class="yg-container footer-nav__list">
  <li class="footer-nav__copyright">© {{current-year}} Ember Grep</li>
  <li class="footer-nav__attribution">a <a href="http://ryantablada.com">Ryan Tablada</a> project</li>
</ul>
