<div class="yg-container">
  <div class="yg-row yg-space-around">
    <div class="card">
      <h2 class="card__title">License</h2>

      <div class="card__body">
        <h3>General</h3>

        <div class="inset">
          <p>
            This content and videos take me a ton of personal time to create. Please keep things all green by not distributing copies to coworkers or friends. You may not sell or redistribute any videos, blogs, or other content from EmberGrep without permission.
          </p>
        </div>

        <h3>A Note For Teams</h3>

        <div class="inset">
          <p>
            EmberGrep is licenced on a one-to-one non-transferable basis, if you run a team please purchase materials for each of your team members or developers. If you have questions on group discounts or transferable licenses please email me at
            <a
                href="mailto:ryan@embergrep.com?subject=Team%20Licenses">ryan@embergrep.com</a>
          </p>
        </div>

        <h3>Personal Note</h3>

        <p>
          Sharing what I know is a labor of love for me and I try to provide resources at a reasonable cost. Redistributing this content hurts my ability to put further effort into this site and could shut down things all together. Feel free to share concepts you
          learn here, but keep the content here and recommend people to EmberGrep where they would benefit. Giving these resources and videos are my right and by stealing that right you stop my ability to keep making great content.
        </p>

        <p>Thanks,
          <br> Ryan</p>
      </div>
    </div>
  </div>
</div>
