<nav class="top-nav">
  <div class="container">
    <div class="row">
      <h1 class="top-nav__brand">

        {{#link-to "index"}}
          <span class="sr-only">EmberGrep</span>
          <div class="screen-only">>eg</div>
        {{/link-to}}
      </h1>
    </div>
  </div>
</nav>
